@import "styles/colors";
@import "styles/variables";
@import "styles/mixins";

.headerBackground {
  position: fixed;
  top: 0;
  z-index: 11;
  width: 100%;
  height: $navbar-height;
  background-color: $bg-secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  @include mobile() {
    height: calc(#{$navbar-height}/1.25)
  }
}

.headerWidth {
  width: 100%;
  max-width: $max-site-width;
  padding: 0 80px;
  box-sizing: border-box;
  @include mobile() {
    padding: 0 6vw;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
}
.navbar {
  display: flex;
  transition: all 0.3s ease;
  .navItem {
    margin-left: 10px;
  }
  @include mobile() {
    display: none;
    position: fixed;
    right: 0;
    top: calc(#{$navbar-height}/1.25);
    flex-direction: column;
    background-color: $bg-secondary;
    width: 100%;
    text-align: center;
    .navItem {
      justify-content: left;
      border-top: 1px solid $bg-primary;
      margin: 0;
      height: calc(#{$navbar-height}/1.25);
      padding-left:6vw;
    }
  }
}
.active {
  @include mobile() {
    display: flex;
  }
}
.navItem {
  height: $navbar-height;
  display: flex;
  align-items: center;
}
.hamburger {
  background: none;
  padding: 10px;
  cursor: pointer;
  color: inherit;
  border: none;
  @include desktop() {
    display: none;
  }
}
.icon {
  height: 30px;
  width: 30px;
  color: inherit;
}
